@import '../../global.scss';

.menu {
    width: 280px;
    height: 100vh;
    background: #274046;
    background: -moz-linear-gradient(to bottom, #274046 20%, #fed7d7 100%);
    background: -webkit-linear-gradient(to bottom, #274046 20%, #fed7d7 100%);
    background: linear-gradient(to bottom, #274046 20%, #fed7d7 100%);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;

    @include mobile {
        width: 100%;
        right: -1000px;

        background: -moz-linear-gradient(to left, #274046 0%, #fed7d7 100%);
        background: -webkit-linear-gradient(to left, #274046 0%, #fed7d7 100%);
        background: linear-gradient(to left, #274046 0%, #fed7d7 100%);
    }

    &.active {
        right: 0;
        opacity: 1;
    }

    ul {
        margin: 0px auto;
        padding: 0;
        list-style: none;
        font-size: 25px;
        font-weight: 500;
        color: $black;
        width: 60%;

        text-align: center;

        li {
            margin-bottom: 3rem;

            a {
                font-size: 1.5rem;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                transition: all 0.3s ease;
                font-weight: 600;
                color: #f56565;
            }
        }
    }
}
