@import '../../global.scss';

.navbar {
    background: $black;
    color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 31;

    .wrapper {
        margin-top: 5px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-size: 2.3rem;
                font-weight: 600;
                text-decoration: none;
                color: inherit;
                margin-right: 20px;
                text-transform: uppercase;
                letter-spacing: -0.03cm;

                span {
                    color: $red600;
                }

                @include mobile {
                    font-size: 2.1rem;
                }
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 50px;
                margin-top: 5px;

                @include mobile {
                    display: none;
                }

                span {
                    font-size: 1rem;
                    font-weight: 400;
                    color: #fff;
                }

                .icon {
                    color: $red600;
                    font-size: 1.5rem;
                    margin-right: 5px;
                    margin-left: 40px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: color 1s ease;
                    margin-bottom: 5px;
                }
            }
        }

        .right {
            .hamburger {
                width: 30px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $red600;
                    transform-origin: left;
                    transition: all 0.5s ease;
                }
            }
        }
    }

    &.active {
        background: -moz-linear-gradient(to left, #434343 22%, #050505 100%);
        background: -webkit-linear-gradient(to left, #434343 22%, #050505 100%);
        background: linear-gradient(to left, #434343 22%, #050505 100%);

        @include mobile {
            background: -moz-linear-gradient(to left, #434343 22%, #050505 100%);
            background: -webkit-linear-gradient(to left, #434343 22%, #050505 100%);
            background: linear-gradient(to left, #434343 22%, #050505 100%);
        }

        .hamburger {
            span {
                &:first-child {
                    background-color: $red500;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: $red500;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
